.App {
  text-align: center;
  font-family: 'bradley hand' ;
  background-color: #edd8c3;
  background-color: rgba( 224,175,155,0.7);
  background-color: #ff5500;
}

   
   .App-header {
     background-color: #282c34;
     min-height: 100vh;
     display: flex;
     flex-direction: row;
     align-items: left;
     justify-content: center;
     font-size: calc(10px + 2vmin);
     color: white;
   }
   
  